{#
/**
 * Main Menu
 *
 * Standard Drupal Menü Implementation, mit Bootstrap Markup und Menu Toggler für Mobile Menü
 * https://getbootstrap.com/docs/4.1/components/navbar/
 *
 * @param array $items Array mit allen Menü Items
 * @param array $url Link vom Menüpunkt
 * @param array $title Title vom Menüpunkt
 * @param array $menu_id Eindeutige ID des Menüs
 *
 * @example
 * <div style="padding: 20px;">
 *   {% include "@molecules/01-navigation/00-main-menu/main-menu.twig" with {
 *      menu_id: 'menu_id1',
 *      items: mainmenu.items,
 *      url: item.url,
 *      title: item.title
 *   } %}
 * </div>
 */
#}

{% import _self as menus %}
<nav class="navbar expand inline-nav" role="navigation">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#{{menu_id}}" aria-controls="{{menu_id}}" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="{{menu_id}}">
    {{ menus.menu_links(items, 0) }}
    {% macro menu_links(items, menu_level) %}
      {% import _self as menus %}
      {% if items %}
        {% if menu_level == 0 %}
          <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="nav navbar-nav level-{{menu_level}}">
        {% else %}
          <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="nav sub level-{{menu_level}} dropdown-menu">
        {% endif %}
        {% for item in items %}
          {% set list_classes = [
              'item',
              item.is_expanded ? 'dropdown',
              item.below ? 'dropdown-submenu',
              item.in_active_trail ? 'active-trail'
          ] %}
          <li itemprop="name" class="{{ list_classes|join(' ') }}">
            <a itemprop="url" href="{{ item.url }}" {% if item.is_expanded and menu_level < 1 %} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ item.title }}</a>
            {% if item.below %}
              {{ menus.menu_links(item.below, menu_level + 1) }}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endmacro %}
  </div>
</nav>
