{#
/**
 * Textarea
 *
 * Typisches Textarea Element um Text Nachrichten zu schreiben.
 *
 * @param string $form_help_text Hilfstext für die Formelemente
 * @param string $autocorrect ON/OFF
 * @param string $spellcheck true/false
 * @param string $autofocus true/false
 * @param string $autocomplete ON/OFF
 * @param string $placeholder
 * @param bool $form_required
 *
 * @example
 * {% include "@atoms/04-forms/00-textarea.twig" with {
 *   form_help_text: faker('text', 100),
 *   placeholder: 'Textarea'
 * } %}
 */
#}

<div class="form-item form-type-textarea form-item-textarea">
  <label class="label" for="edit-textarea">
    <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
      <textarea {%- if autocorrect %}autocorrect="{{autocorrect}}"{%- endif -%} {%- if autocomplete -%}autocomplete="{{autocomplete}}"{%- endif -%} {%- if spellcheck -%}spellcheck="{{spellcheck}}"{%- endif -%} {%- if autofocus -%}autofocus{%- endif -%} autocapitalize="word" placeholder="{{placeholder}}" id="edit-textarea" name="textarea" cols="60" rows="5" class="form-textarea form-element" {%- if form_required -%} required aria-required="true" {%- endif -%}>{{textarea_content}}</textarea>
      <div class="grippie"></div>
    </div>
  </label>
  {%- if form_help_text -%}
    <div class="description">{{form_help_text}}</div>
  {%- endif -%}
</div>
