{#
 /**
 * File Upload
 *
 * @param string $upload_label Text über Upload Button
 * @param int $upload_button_size Größe des Button
 * @param string $upload_placeholder Text auf Button, wird nach Auswahl ersetzt durch den Dateinamen
 * @param string $form_help_text Der Beschreibungstext / Hilfstext
 *
 * @example
 * {% include "@atoms/04-forms/08-file-upload.twig" with {
 *   upload_label: 'File',
 *   upload_button_size: 60,
 *   upload_placeholder: faker('text', 50),
 *   upload_file_field_id: 'file_field_id1',
 *   upload_textfield_id: 'textfield_id1'
 * } %}
 */
#}

<div class="form-item form-custom form-type-file form-item-files-file">
  <label class="label" for="edit-file">{{upload_label}}</label>
  <input type="file" id="{{upload_file_field_id}}" name="files[file]" size="{{upload_button_size}}" class="form-file" {% if form_required %} required aria-required="true" {% endif %}>
  <input type="text" id="{{upload_textfield_id}}" name="textfield" placeholder="{{upload_placeholder}}" class="form-text" disabled {% if form_required %} required aria-required="true" {% endif %}>
  {%- if form_help_text -%}
    <div class="description">{{form_help_text}}</div>
  {%- endif -%}
</div>
  