{#
/**
 * Status
 *
 * Alert Darstellung von Bootstrap für Drupal Status Meldungen
 * https://getbootstrap.com/docs/4.1/components/alerts/#dismissing
 *
 * @param array $message_list Array mit allen Status Meldungen
 * @param string $type Typ der Status Meldung (error, warning, status)
 * @param array $status_headings Drupal Array für Status Meldungen
 * @param array $attributes Drupal Array mit attributes
 * @param string $messages Inhalt der Meldung
 *
 * @example
 * {% set message_list = {
 *   "status": {'message': faker('text', 300)},
 *   "warning": {'message': faker('text', 300)},
 *   "error": {'message': faker('text', 300)}
 * } %}
 * {% include "@molecules/05-status/status.twig" with {
 *   message_list: message_list
 * } %}
 */
#}

{%- for type, messages in message_list -%}
  <div class="alert {{ type }} alert-dismissible show" role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    {%- if type == 'error' -%}
      <div role="alert">
    {%- endif -%}
      {%- if status_headings[type] -%}
        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
      {%- endif -%}
      {%- if messages|length > 1 -%}
        <ul>
          {%- for message in messages -%}
            <li class="{{ type }}">{{ message }}</li>
          {%- endfor -%}
        </ul>
      {%- else -%}
        {{ messages|first }}
      {%- endif -%}
    {%- if type == 'error' -%}
      </div>
    {%- endif -%}
  </div>
{%- endfor -%}
