{#
/**
 * Sub Block Menu
 *
 * @param array $items Array mit allen Menü Items
 * @param array $url Link vom Menüpunkt
 * @param array $title Title vom Menüpunkt
 *
 * @example
 * <div style="background-color: #b1babe; padding: 20px;">
 *   {% include "@molecules/01-navigation/01-sub-menu/sub-menu-block.twig" with {
 *      items: mainmenu.items,
 *      url: item.url,
 *      title: item.title
 *   } %}
 * </div>
 */
#}

{% import _self as menus -%}
<nav class="sub-block-nav" role="navigation" aria-labelledby="sub_block_navigation">
  {{ menus.menu_links(items, 0) }}
  {% macro menu_links(items, menu_level) -%}
    {% import _self as menus -%}
    {%- if items -%}
      {%- if menu_level == 0 -%}
        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="nav navbar-nav level-{{menu_level}}">
      {%- else -%}
        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="nav sub level-{{menu_level}} dropdown-menu">
      {%- endif -%}
      {%- for item in items -%}
        {% set list_classes = [
            'item',
            item.is_expanded ? 'dropdown',
            item.below ? 'dropdown-submenu',
            item.in_active_trail ? 'active-trail'
        ] %}
        <li itemprop="name" class="{{ list_classes|join(' ') }}">
          <a itemprop="url" href="{{ item.url }}" {% if item.is_expanded and menu_level < 1 %} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ item.title }}</a>
          {%- if item.below -%}
            {{ menus.menu_links(item.below, menu_level + 1) }}
          {%- endif -%}
        </li>
      {%- endfor -%}
      </ul>
    {%- endif -%}
  {% endmacro %}
</nav>
