{#
/**
 * Search Result
 *
 * Dieses Template stellt nur ein einzelnes Suchergebnis dar. Die Liste von Ergebnissen
 * wird durch #theme' => 'item_list' mit
 * - item_list__search_results__(plugin_id)
 * - item_list__search_results
 * gerendet.
 *
 * @param string $search_result_title_prefix Zusätzliche Ausgabe durch Modulen oder Elementen die vor dem Titel ausgegeben werden sollen.
 * @param array $search_result_title_attributes Attribute die der Titel bekommen soll
 * @param string $search_result_url URL vom Ergebnisses
 * @param string $search_result_title Titel des Ergebnisses
 * @param string $search_result_title_suffix Zusätzliche Ausgabe durch Modulen oder Elementen die nach dem Titel ausgegeben werden sollen.
 * @param array $search_result_content_attributes Attribute die der Inhalt bekommen soll
 * @param string $search_result_snippet Kurzer Ausschnitt des Ergebnisses
 * @param string $search_result_info Alle Meta-Informationen
 *
 * @example
 * {% include "@molecules/07-search/search-result.twig" with {
 *   search_result_url: '#',
 *   search_result_title: faker('text', 50),
 *   search_result_snippet: faker('text', 400),
 *   search_result_info: faker('text', 100)
 * } %}
 */
#}

<div class="search-result-snippet">
  {{ search_result_title_prefix }}
  <h3{{ search_result_title_attributes }}>
    <a href="{{ search_result_url }}">{{ search_result_title }}</a>
  </h3>
  {{ search_result_title_suffix }}
  {%- if search_result_snippet -%}
    <p{{ search_result_content_attributes }}>{{ search_result_snippet }}</p>
  {%- endif -%}
  {%- if search_result_info -%}
    <p><strong>{{ search_result_info }}</strong></p>
  {%- endif -%}
</div>
