{#
/**
 * Hero
 *
 * Der Hero wird für Große Slider oder eben als Banner Bild/Teaser verwendet.
 * Mit unterschiedlichen Varianten der Darstellung.
 * - Bild Links (Text Links)
 * - Bild Rechts (Text Links)
 * - Bild als Overlay
 * - Text Zentriert
 * - Default: Text Links
 *
 * @param string $hero_style Stil vom Hero Teaser (img-left, img-right, text-center, leer lassen für default)
 * @param string $hero_heading Titel für Teaser im Body (mit Link wenn es verlinkt werden soll)
 * @param string $hero_heading_level Header Level 1-6
 * @param string $hero_heading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $heroimagetag Vollstängies IMG-Tag mit Alt + Title + Pfad zum Bild
 * @param string $hero_background_image Background Image muss immer befüllt sein, wenn ein Bild genutzt wird.
 * @param bool $background_overlay Wenn der Hero ein Bild als Overlay bekommen soll.
 * @param string $hero_text Teaser Body Inhalt benötigt vollständiges P-Tag
 * @param string $hero_teasertext_animation Klasse "animated" ist Pflicht zusätzlich kann man den Typ des Effekts hinzufügen.
 * @param string $hero_link Vollständiges A-Tag mit allen Optionen.
 *
 * @example
 * <h6>Default Style</h6>
 * {% set paragraph_concat = '<p>' ~ faker('text', 400) ~ '</p>'%}
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: paragraph_concat,
 *   hero_link: '<a href="#" class="button filled animated">Button filled Link Text</a>'
 * } %}
 * <h6>Text Center Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: paragraph_concat,
 *   hero_link: '<a href="#" class="button filled animated">Button filled Link Text</a>',
 *   hero_style: 'text-center'
 * } %}
 * <h6>Default Style mit Hintergrundbild</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: paragraph_concat,
 *   hero_link: '<a href="#" class="button filled animated">Button filled Link Text</a>',
 *   hero_background_image: 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png',
 *   background_overlay: true,
 * } %}
 * <h6>Hintergrundbild + Mittigen Text</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: paragraph_concat,
 *   hero_link: '<a href="#" class="button filled animated">Button filled Link Text</a>',
 *   hero_style: 'text-center',
 *   hero_background_image: 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png',
 *   background_overlay: true,
 * } %}
 * <h6>Bild Links Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: paragraph_concat,
 *   hero_link: '<a href="#" class="button filled animated">Button filled Link Text</a>',
 *   hero_style: 'img-left',
 *   hero_background_image: 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png',
 *   heroimagetag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png">',
 * } %}
 * <h6>Bild Rechts Style</h6>
 * {% include "@molecules/09-hero/hero.twig" with {
 *   hero_heading: faker('text', 50),
 *   hero_heading_level: 2,
 *   hero_text: paragraph_concat,
 *   hero_link: '<a href="#" class="button filled animated">Button filled Link Text</a>',
 *   hero_style: 'img-right',
 *   hero_background_image: 'https://dummyimage.com/1200x16:9/c7c7c7/fff.png',
 *   heroimagetag: '<img alt="Alternativ Text für dieses Bild" title="Title Text für dieses Bild" src="https://dummyimage.com/1200x16:9/c7c7c7/fff.png">',
 * } %}
 */
#}

<div class="hero{% if hero_style %} {{hero_style}}{% endif %}{% if background_overlay %} background{% endif %}"{% if background_overlay and hero_background_image %}data-background="{{hero_background_image}}"{% endif %}>
    {%- if hero_style != "img-right" and hero_background_image -%}
      <div class="image" {% if hero_background_image %}data-background="{{hero_background_image}}"{% endif %}>
        {% include "@atoms/06-images/00-image.twig" with {
          imagetag: heroimagetag
        } %}
      </div>
    {%- endif -%}
    {%- if hero_heading or hero_text or hero_button_url -%}
    <div class="content">
      {%- if hero_heading -%}
        {% include "@atoms/00-text/01-headings.twig" with {
          heading_level: hero_heading_level,
          heading: hero_heading,
          heading_class: hero_heading_class
        } %}
      {%- endif -%}
      {%- if hero_text -%}
        {% block teaser_text %}
          <div class="tease-text{%- if hero_teasertext_animation -%} {{hero_teasertext_animation}}{%- endif -%}">
            {% include "@atoms/00-text/00-paragraph.twig" with {
              paragraph_content: hero_text
            } -%}
          </div>
        {% endblock %}
      {%- endif -%}
      {%- if hero_link -%}
        {% include "@atoms/03-buttons/00-button.twig" with {
          link: hero_link
        } %}
      {%- endif -%}
    {%- endif -%}
    </div>
    {%- if hero_style == "img-right" -%}
      <div class="image" {% if hero_background_image %}data-background="{{hero_background_image}}"{% endif %}>
        {% include "@atoms/06-images/00-image.twig" with {
          imagetag: heroimagetag
        } %}
      </div>
    {%- endif -%}
  </div>
  