{#
/**
 * Accordion Item
 *
 * Bootstrap Accordion Implementation, diese Darstellung bekommt z.B. ein Teaser in Drupal. Der Body kann via Embed überschrieben werden.
 * Default ist Card Darstellung von Bootstrap.
 * https://getbootstrap.com/docs/4.1/components/collapse/#accordion-example
 *
 * @param int $key Key vom Array der Accordion Elemente (muss im Array bestückt werden)
 * @param string $accordion_title Titel vom Accordion
 * @param string $accordion_parent Parent Element für das Accordion "collapsible elements under the specified parent will be closed when one of the collapsible item is shown"
 * @param string $card_heading Titel für Card im Body (mit Link wenn es verlinkt werden soll)
 * @param string $card_heading_level Header Level 1-6
 * @param string $card_heading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $card_subheading Sub-Titel für Card im Body (mit Link wenn es verlinkt werden soll)
 * @param string $card_subheading_level Subheadline Level 1-6
 * @param string $card_subheading_class Spezielle Klasse wenn diese benötigt wird
 * @param string $card_text Card Body Inhalt benötigt vollständiges P-Tag
 * @param string $card_link Vollständiges A-Tag mit allen Optionen.
 *
 * @example
 * {% set paragraph_concat = '<p>' ~ faker('text', 400) ~ '</p>'%}
 * <div id="accordion">
 *   {% include "@molecules/02-accordion-item/accordion-item.twig" with {
 *     "accordion_parent": 'accordion',
 *     "accordion_title": faker('text', 50),
 *     "card_heading": faker('text', 50),
 *     "card_heading_level": 3,
 *     "card_text": paragraph_concat,
 *     "key": 0,
 *   } %}
 * </div>
 */
#}

<div class="card accordion-item">
    {%- if accordion_title -%}
      <div class="card-header">
        <a data-toggle="collapse" role="button" href="#item-{{key}}-{{ accordion_title|md5 }}" {% if key == 0 %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %} data-target="#item-{{key}}-{{ accordion_title|md5 }}" aria-controls="item-{{key}}-{{ accordion_title|md5 }}">{{accordion_title}}</a>
      </div>
    {%- endif -%}
    <div id="item-{{key}}-{{ accordion_title|md5 }}" class="collapse{% if key == 0 %} show{% endif %}" aria-labelledby="item-{{key}}-{{ accordion_title|md5 }}" data-parent="#{{accordion_parent}}">
      <div class="card-body">
        {% block accordion_body %}
          {%- if card_heading -%}
            {% include "@atoms/00-text/01-headings.twig" with {
              heading_level: card_heading_level,
              heading: card_heading,
              small: card_small,
              heading_class: card_heading_class
            } %}
          {%- endif -%}
          {%- if card_subheading -%}
            {% include "@atoms/00-text/01-headings.twig" with {
              heading_level: card_subheading_level,
              heading: card_subheading,
              subtitle: true,
              heading_class: card_subheading_class
            } %}
          {%- endif -%}
          {%- if card_text -%}
            {% include "@atoms/00-text/00-paragraph.twig" with {
              paragraph_content: card_text
            } %}
          {%- endif -%}
          {%- if card_link -%}
            {% include "@atoms/03-buttons/00-button.twig" with {
              link: card_link
            } %}
          {%- endif -%}
        {% endblock %}
      </div>
    </div>
  </div>
  