{#
/**
 * Accordion Item
 *
 * @param string $card_heading Titel f端r Card im Body
 * @param string $card_heading_level Header Level 1-6
 * @param string $card_heading_link_url Link URL, wenn leer ist der Titel nicht verlinkt
 * @param array $card_heading_link_attributes key/value attributes to pass to link like target _blank
 * @param string $card_subheading Subheadline Inhalt
 * @param string $card_subheading_level Subheadline Level 1-6
 * @param string $card_text Card Body Inhalt im <p> - Tag
 * @param string $card_button_url Link wohin der Button verlinkt wird
 * @param string $card_button_class Klasse die den Style steuert (leere Klassenangabe, filled, filled2, round, text, link, group, dropdown)
 * @param string $card_button_text Buttontext
 * @param bool $card_small Bestimmt ob es der <small></small> Tag hinzugef端gt wird, wenn zb die Headline f端r Teaser kleiner aussieht
 * @param bool $subtitle true/false
 * @param string $accordion_title Titel vom Accordion
 * @param string $accordion_parent Parent Element f端r das Accordion "collapsible elements under the specified parent will be closed when one of the collapsible item is shown"
 *
 * @example
 * {% set paragraph_concat = '<p>' ~ faker('text', 400) ~ '</p>'%}
 * <div id="accordion">
 *   {% include "@molecules/02-accordion-item/accordion-item.twig" with {
 *     "accordion_parent": 'accordion',
 *     "accordion_title": faker('text', 50),
 *     "card_heading": faker('text', 50),
 *     "card_heading_level": 3,
 *     "card_text": paragraph_concat,
 *     "key": 0,
 *   } %}
 * </div>
 */
#}

<div class="card accordion-item">
  {%- if accordion_title -%}
    <div class="card-header">
      <a data-toggle="collapse" role="button" href="#item-{{key}}-{{ accordion_title|md5 }}" {%- if key == 0 -%}aria-expanded="true"{%- else -%}aria-expanded="false"{%- endif -%} data-target="#item-{{key}}-{{ accordion_title|md5 }}" aria-controls="item-{{key}}-{{ accordion_title|md5 }}">{{accordion_title}}</a>
    </div>
  {%- endif -%}
  <div id="item-{{key}}-{{ accordion_title|md5 }}" class="collapse {%- if key == 0 -%}show{%- endif -%}" aria-labelledby="item-{{key}}-{{ accordion_title|md5 }}" data-parent="{{accordion_parent}}">
    <div class="card-body">
      {% block card_body %}
        {%- if card_heading -%}
          {% include "@atoms/00-text/01-headings.twig" with {
            heading_level: card_heading_level,
            heading: card_heading,
            link_url: card_heading_link_url,
            link_attributes: card_heading_link_attributes,
            small: card_small
          } %}
        {%- endif -%}
        {%- if card_subheading -%}
          <small>
            {% include "@atoms/00-text/01-headings.twig" with {
              heading_level: card_subheading_level,
              heading: card_subheading,
              subtitle: true,
            } %}
          </small>
        {%- endif -%}
        {%- if card_text -%}
          {% include "@atoms/00-text/00-paragraph.twig" with {
            paragraph_content: card_text
          } %}
        {%- endif -%}
        {%- if card_button_url -%}
          {% include "@atoms/03-buttons/00-button.twig" with {
            button_url: card_button_url,
            button_extra_class: card_button_class,
            button_text: card_button_text
          } %}
        {%- endif -%}
      {% endblock %}
    </div>
  </div>
</div>
