{#
/**
 * Heading in Paragraph
 *
 * Headlines H1 - H6
 * Alle Schriftgrößen werden ab dem Breakpoint "medium" = 640px und darunter mit skaliert in der Größe
 *
 * Available variables:
 * - heading_level - the header level 1-6 (produces h1, h2, etc.)
 * - heading - the content of the heading (typically text)
 * - link_url - (optional) the url the heading should poing to
 * - link_attributes - key/value attributes to pass to link like target _blank
 *
 * @param int heading_level Es ist eine Zahl von 1 bis 6 um die h1-h6 zu steuern.
 * @param string heading Das ist der Titel (string) der anzeigt wird.
 * @param string link_url Das ist die URL, wenn die Variable leer ist, ist die Headline nicht verlinkt
 * @param array link_attributes array e.g "link_attributes": { 'target': '_blank'}
 *
 * @example
 *  <div class="sg-fonts">
 *  <h6>Headlines in Paragraph</h6>
 *  <p>
 *    {% for i in 1..6 %}
 *      {% include "@atoms/00-text/02-headings-in-paragraphs.twig" with {
 *        heading_level: i,
 *        heading: faker('text', 200),
 *      } %}
 *  {% endfor %}
 *  </p>
 *  <h6>Headlines in Paragraph verlinkt</h6>
 *  <p>
 *    {% for i in 1..6 %}
 *      {% include "@atoms/00-text/02-headings-in-paragraphs.twig" with {
 *        heading_level: i,
 *        link_url: '#',
 *        heading: faker('text', 200),
 *      } %}
 *  {% endfor %}
 *  </p>
 *  </div>
 */
#}

<h{{ heading_level }} class="hyphen h{{ heading_level }}">
{% if link_url %}
  <a
    {% for attribute,value in link_attributes %}
      {{ attribute }}="{{ value }}"
    {% endfor %}
    href="{{ link_url }}"
  >
    {% block heading %}
      {{ heading }}
    {% endblock %}
  </a>
{% else %}
  {{ heading }}
{% endif %}
</h{{ heading_level }}>
