{#
/**
 * Infobox
 *
 * Modal Implementation von Bootstrap, standard Darstellung ist Card von Bootstrap.
 * Der Inhalt des Modals kann verändert werden via Embed.
 * https://getbootstrap.com/docs/4.1/components/modal/
 *
 * @param string $trigger_type Link oder Button
 * @param int $infobox_id Eindeutige ID
 * @param string $trigger_button_text Text der im Button/Link stehen soll
 * @param int $infobox_heading_level Es ist eine Zahl von 1 bis 6 um die h1-h6 zu steuern.
 * @param string $infobox_heading Das ist der Titel (string) der anzeigt wird.
 * @param string $infobox_heading_class Extra Klasse für Headlines
 * @param string $infobox_text Content für den Tab (Vollständiges P-Tag)
 * @param string $infobox_footer Inhalt für den Footer kann auch HTML enthalten
 *
 * @example
 * {% set paragraph_concat = '<p>' ~ faker('text', 400) ~ '</p>'%}
 * <h6>Link</h6>
 * {% embed "@molecules/04-infobox/infobox.twig" with {
 *   "infobox_id": faker('word', 10),
 *   "trigger_button_text": faker('text', 50),
 *   "infobox_heading": faker('text', 50),
 *   "infobox_heading_level": 3,
 *   "infobox_text": paragraph_concat,
 *   "trigger_type": 'link',
 *   "infobox_footer": true,
 * } %}
 *   {% block infobox_footer %}
 *     <button type="button" class="button" data-dismiss="modal">Close</button>
 *     <button type="button" class="button filled" data-dismiss="modal">Save changes</button>
 *   {% endblock %}
 * {% endembed %}
 * <h6>Button</h6>
 * {% embed "@molecules/04-infobox/infobox.twig" with {
 *   "infobox_id": faker('word', 10),
 *   "trigger_button_text": faker('text', 50),
 *   "infobox_heading": faker('text', 50),
 *   "infobox_heading_level": 3,
 *   "infobox_text": paragraph_concat
 * } %}
 * {% endembed %}
 */
#}

{%- if trigger_type == 'link' -%}
  <a type="button" role="button" class="button link" data-toggle="modal" data-target="#{{infobox_id}}">
    {{trigger_button_text}}
  </a>
{%- else -%}
  <button type="button" class="button" data-toggle="modal" data-target="#{{infobox_id}}">
    {{trigger_button_text}}
  </button>
{%- endif -%}

<div class="modal fade" tabindex="-1" role="dialog" id="{{infobox_id}}">
    <div class="modal-dialog" role="document">
        <div class="infobox-content">
        {%- block infobox_content -%}
          {%- if infobox_heading -%}
            <div class="infobox-header">
              {% include "@atoms/00-text/01-headings.twig" with {
                heading_level: infobox_heading_level,
                heading: infobox_heading,
                heading_class: infobox_heading_class
              } %}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {%- endif -%}

          {%- if infobox_text -%}
            <div class="infobox-body">
              {% include "@atoms/00-text/00-paragraph.twig" with {
                paragraph_content: infobox_text
              } %}
            </div>
          {%- endif -%}

          {%- if infobox_footer -%}
            <div class="infobox-footer">
              {% block infobox_footer %}
                {{infobox_footer}}
              {% endblock %}
            </div>
          {%- endif -%}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
