{#
/**
 * Infobox
 *
 * @param string $trigger_type Link oder Button
 * @param int $infobox_id Eindeutige ID
 * @param int $trigger_button_text Text auf dem Button
 * @param int $infobox_heading_level Level für Headlines 1-6
 * @param int $infobox_heading Inhalt des Titels
 *
 * @example
 * {% set paragraph_concat = '<p>' ~ faker('text', 400) ~ '</p>'%}
 * <h6>Link</h6>
 * {% embed "@molecules/04-infobox/infobox.twig" with {
 *   "infobox_id": faker('text', 10),
 *   "trigger_button_text": faker('text', 50),
 *   "infobox_heading": faker('text', 50),
 *   "infobox_heading_level": 3,
 *   "infobox_text": paragraph_concat,
 *   "trigger_type": 'link',
 *   "infobox_footer": true,
 * } %}
 *   {% block infobox_footer %}
 *     <button type="button" class="button" data-dismiss="modal">Close</button>
 *     <button type="button" class="button filled" data-dismiss="modal">Save changes</button>
 *   {% endblock %}
 * {% endembed %}
 * <h6>Button</h6>
 * {% embed "@molecules/04-infobox/infobox.twig" with {
 *   "infobox_id": faker('text', 10),
 *   "trigger_button_text": faker('text', 50),
 *   "infobox_heading": faker('text', 50),
 *   "infobox_heading_level": 3,
 *   "infobox_text": paragraph_concat
 * } %}
 * {% endembed %}
 */
#}

{%- if trigger_type == 'link' -%}
  <a type="button" role="button" class="button link" data-toggle="modal" data-target="#{{infobox_id}}">
    {{trigger_button_text}}
  </a>
{%- else -%}
  <button type="button" class="button" data-toggle="modal" data-target="#{{infobox_id}}">
    {{trigger_button_text}}
  </button>
{%- endif -%}

<div class="modal fade" tabindex="-1" role="dialog" id="{{infobox_id}}">
    <div class="modal-dialog" role="document">
        <div class="infobox-content">

        {%- if infobox_heading -%}
          <div class="infobox-header">
            {% include "@atoms/00-text/01-headings.twig" with {
              heading_level: infobox_heading_level,
              heading: infobox_heading,
            } %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%- endif -%}

        {%- if infobox_text -%}
          <div class="infobox-body">
            {% block infobox_body %}
              {% include "@atoms/00-text/00-paragraph.twig" with {
                paragraph_content: infobox_text
              } %}
            {% endblock %}
          </div>
        {%- endif -%}

        {%- if infobox_footer -%}
          <div class="infobox-footer">
            {% block infobox_footer %}
              {{infobox_footer}}
            {% endblock %}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
